@page "/access-denied"

<PageTitle>アクセス拒否</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">アクセス拒否</h4>
                <p>このページにアクセスする権限がありません。</p>
                <hr />
                <p class="mb-0">
                    <a href="/" class="btn btn-primary">ホームに戻る</a>
                </p>
            </div>
        </div>
    </div>
</div>
