@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <LoginDisplay />
        <nav style="display: flex; flex-direction: column;">
            <a href="/" class="nav-item">
                <span class="oi oi-home" aria-hidden="true"></span> ホーム
            </a>
            <a href="/services" class="nav-item">
                <span class="oi oi-list" aria-hidden="true"></span> サービス監視
            </a>
        </nav>
    </aside>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
